VITE_API_SERVER_URL=http://localhost:8787
VITE_POCKETBASE_URL=http://127.0.0.1:8090
VITE_SUPABASE_URL=https://omrxpnxoakwanlskzaax.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=configure-na-hostinger
VITE_VAPID_PUBLIC_KEY=configure-a-chave-publica-vapid
